<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kara Bot</title>
    <meta name="description" content="Kara Bot">
    <meta name="author" content="SitePoint">

    <meta property="og:title" content="Kara Bot">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.karabot.com">
    <meta property="og:description" content="Kara Bot">
    <meta property="og:image" content="image.png">

    <link rel="icon" href="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/assets/favicon.ico">
    <link rel="icon" href="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/favicon.svg" type="image/svg+xml">

    <link rel="apple-touch-icon" href="~/apple-touch-icon.png">
    <link rel="stylesheet" href="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/css/home.css">
    <link rel="stylesheet" href="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/css/bootstrap/bootstrap.css">

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">

                <nav class="navbar navbar-expand-lg navbar-dark bg-transparent change-direction " style="direction: rtl;">
                    <div class="nav-item offset-1"></div>
                    <a class="resource navbar-brand" href="#" name="Karabot"></a>
                    <div class="" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="plan"> <span class="resource" name="Pricing"></span></a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="logo">
                        <img src="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/assets/logo.png" alt="logo" class="logo-image" />
                    </div>
                </div>
                <div class="col-md-6 intro-container">
                    <div class="col-md-12 intro change-direction">
                        <div class="intro-title resource" name="whyKaraBot">
                        </div>
                        <div class="intro-description resource" name="whyKaraBotDescription">
                        </div>
                    </div>
                    <div class="lang-container">
                        <button class="btn fa-btn" id="fa-btn" title="فارسی"></button>
                        <button class="btn en-btn" id="en-btn" title="English"></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="mission">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-6 col-sm-12 mission-container">
                    <div class="mission-text change-direction">
                        <span class="mission-title resource" name="mission"></span>
                        <span class="mission-line"></span>
                        <div class="mission-description">
                            <span class="resource" name="missionDescription"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mt-2">
                    <div class="mission-image">
                        <img src="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/assets/our-mission.png" alt="our-mission" class="mission-pic img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="reason">
        <div class="container d-flex">
            <div class="row change-direction">
                <div class="col-md-6 col-sm-12">
                    <div class="reason-title">
                        <div>
                            <span class="reason-text resource" name="reason"></span>
                            <span class="reason-line"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 d-flex align-items-stretch">
                    <div class="reason-info change-direction">
                        <div class="col-md-3 col-sm-12">
                            <img src="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/assets/reason1.png" alt="" class="reason-image" />
                            <div class="reason-description">
                                <span class="resource" name="reasonOne"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <img src="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/assets/reason2.png" alt="" class="reason-image" />
                            <div class="reason-description">
                                <span class="resource" name="reasonTwo"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <img src="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/assets/reason3.png" alt="" class="reason-image" />
                            <div class="reason-description">
                                <span class="resource" name="reasonThree"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <img src="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/assets/reason4.png" alt="" class="reason-image" />
                            <div class="reason-description">
                                <span class="resource" name="reasonFour"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feature">
        <div class="container d-flex">
            <div class="row">
                <div class="col-md-4 d-flex align-items-center change-direction">
                    <div class="feature-part">
                        <div>
                            <span class="feature-shape"></span>
                            <div class="feature-description">
                                <span class="resource" name="featureOne"></span>
                            </div>
                        </div>
                        <div>
                            <span class="feature-shape"></span>
                            <div class="feature-description">
                                <span class="resource" name="featureTwo"></span>
                            </div>
                        </div>
                        <div>
                            <span class="feature-shape"></span>
                            <div class="feature-description">
                                <span class="resource" name="featureThree"></span>
                            </div>
                        </div>
                        <div>
                            <span class="feature-shape"></span>
                            <div class="feature-description">
                                <span class="resource" name="featureFour"></span>
                            </div>
                        </div>
                        <div>
                            <span class="feature-shape"></span>
                            <div class="feature-description">
                                <span class="resource" name="featureFive"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <div class="feature-title">
                        <span class="feature-text resource" name="feature"></span>
                        <span class="feature-line"></span>
                        <img src="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/assets/feature.png" alt="" class="img-fluid feature-image" />
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center change-direction">
                    <div class="feature-part">
                        <div>
                            <span class="feature-shape"></span>
                            <div class="feature-description">
                                <span class="resource" name="featureSix"></span>
                            </div>
                        </div>
                        <div>
                            <span class="feature-shape"></span>
                            <div class="feature-description">
                                <span class="resource" name="featureSeven"></span>
                            </div>
                        </div>
                        <div>
                            <span class="feature-shape"></span>
                            <div class="feature-description">
                                <span class="resource" name="featureEight"></span>
                            </div>
                        </div>
                        <div>
                            <span class="feature-shape"></span>
                            <div class="feature-description">
                                <span class="resource" name="featureNine"></span>
                            </div>
                        </div>
                        <div>
                            <span class="feature-shape"></span>
                            <div class="feature-description">
                                <span class="resource" name="featureTen"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="faq bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-4">
                        <span class="resource faq-title" name="faq"> پرسش های پرتکرار </span>
                    </h2>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingOne" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne" name="faq1">
                                کارابات چیست؟
                            </button>

                            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq1answer">
                                    <br>
                                    کارابات یک پلتفرم ربات ساز و ربات معامله گر است که کاربر با استفاده از ابزارهای
                                    کاربردی آن میتواند استراتژی شخصی خود را بسازد و آن را برای ترید در بازارواقعی
                                    روانه بازارکند.همچنین میتوان با استفاده از این سامانه در گذشته بازار استراتژی
                                    خودرا بک تست گرفته و نتایج آن را در کمترین زمان ممکن مشاهده کرد و از پیشنهادات
                                    هوش مصنوعی سیستم درراستای بهینه سازی استراتژی استفاده کرد.

                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction resource"
                                    id="headingTwo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo" name="faq2">
                                چرا استفاده کردن از کارابات برای من مفید است؟
                            </button>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq2answer">
                                    - امکان تریددربازار به صورت 24ساعته و 7 روزهفته به صورت خودکار.
                                    <br>
                                    - ترید مقید به استراتژی و جلوگیری از تصمیمات احساسی ناشی از اضطراب انسان درحین
                                    ترید .
                                    <br>
                                    - انجام ترید با استفاده از قوانین بودجه بندی اصولی و حذف ریسک از دست رفتن سرمایه.
                                    <br>
                                    - پیدا کردن موقعیت معاملاتی در تعداد بیشماری از ارزهایی که کاربر به صورت دستی
                                    زمان بررسی تمام آن ارزها را ندارد.
                                    <br>
                                    - سودگرفتن از بازار با کمترین دانش تکنیکال و استفاده از پیشنهادات سامانه.
                                    <br>
                                    - امکان گرفتن بک تست در کمترین زمان ممکن و مشاهده لیستی از نتایج،پیشنهادات سیستم
                                    و آنالیزها در راستای حذف زمان زیاد بک تست به صورت دستی ..
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction resource"
                                    id="headingThree" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                                    name="faq3">
                                چه استراتژی معاملاتی در سامانه کارابات وجود دارد؟
                            </button>

                            <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq3answer">

                                    <br>
                                    در نسخه اولیه کاربر میتواند با استفاده از ابزارهایی که در اختیار دارد استراتژی شخصی
                                    خود
                                    را بسازد اما در نسخه ی پیشرفته استراتژی هایی که از طرف تیم ما تهیه شده به کاربر داده
                                    میشود.
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction resource id="
                                    headingFour" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour" name="faq4">
                                کارابات چه بازارهایی را پوشش میدهد؟
                            </button>

                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq4answer">
                                    <br>
                                    براساس صرافی های تعریف شده،این ربات در تمامی بازارکریپتو برای معاملات فیوچرز قابلیت
                                    استفاده دارد.
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction resource"
                                    id="headingFive" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive" name="faq5">
                                فعالیت ربات در حالت اسپات هست یا فیوچرز؟
                            </button>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq5answer">
                                    <br>
                                    فعالیت ربات در بازارفیوچرز بوده و معاملات لانگ و شورت را پوشش میدهد.
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction resource"
                                    id="headingSix" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                    aria-expanded="false" aria-controls="collapseSix" name="faq6">
                                آیا کارابات به من در بهینه سازی استراتژی کمک میکند؟
                            </button>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction"  name="faq6answer">

                                    <br>
                                    بله.با استفاده از کارابات میتوانید استراتژی خودرا در تمام سال های گذشته بازار تست
                                    کرده،نتایج آن را مشاهده و دلایل سود و زیان را به تفکیک مشاهده کنید.پس از آن میتوانید
                                    با
                                    استفاده از دانش شخصی یا پیشنهادات هوش مصنوعی سیستم اقدام به بهینه سازی کنید
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingSeven" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"
                                    name="faq7">
                                کارابات از چه جفت ارزهایی پشتیبانی میکند و در چه صرافی هایی ترید میکند؟
                            </button>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq7answer">
                                    <br>
                                    در صرافی okx میتوانید تمامی ارزهایی که برمبنای تتر هستند را دراختیار داشته باشید
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingEight" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"
                                    name="faq8">
                                در کارابات از چه تایم فرمهایی استفاده میشود؟
                            </button>
                            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq8answer">
                                    <br>
                                    ازتایم فریم یک دقیقه تا یک ماهه را میتوان استفاده کرد
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingNine" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine"
                                    aria-expanded="false" aria-controls="collapseNine" name="faq9">
                                سیستم اطلاع رسانی در کارابات به چه صورت است؟
                            </button>
                            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq9answer">
                                    <br>
                                    بعد از تهیه ربات، شما عضو یک کانال تلگرام خواهید شد که تمامی پوزیشن های ربات شما
                                    در لحظه
                                    ورود و خروج به همراه نتایج مختصر نمایش داده میشود
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingTen" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen"
                                    aria-expanded="false" aria-controls="collapseTen" name="faq10">
                                چه کسانی دسترسی به حساب من دارند؟
                            </button>
                            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq10answer">
                                    <br>
                                    شما با خرید اشتراک ربات فقط رمزعبور سامانه ربات را از ما دریافت خواهید کرد و
                                    اطلاعات
                                    دسترسی به اکانت صرافی و کیف پول شما در اختیار خودتان بوده و با ما به اشتراک
                                    گذاشته
                                    نمیشود
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingEleven" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven"
                                    name="faq11">
                                آیا با اتصال ربات به صرافی امکان بن شدن یا قفل شدن حساب من وجود دارد؟
                            </button>
                            <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq11answer">
                                    <br>
                                    خیر.برنامه نویسی کارابات با استفاده از پروتکل های مجاز صرافی انجام شده و اتصال
                                    آن به
                                    حساب شما از طریق api key هست که صرافی ها به صورت مجاز برای اتصال ربات در اختیار
                                    کاربر
                                    قرارمیدهند
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingTwelve" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve"
                                    name="faq12">
                                آیا برای کارکرد ربات نیاز به روشن ماندن سیستم من هست؟
                            </button>
                            <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
                                 data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq12answer">
                                    <br>
                                    خیر.بعد از زدن دکمه استارت ربات تمامی فعالیت ها صورت خودکارانجام خواهد شد و
                                    نیازی به
                                    حضور کاربر یا روشن نگه داشتن سیستم نیست
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingThirteen" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThirteen" aria-expanded="false"
                                    aria-controls="collapseThirteen" name="faq13">
                                آیا باید نگران لو رفتن آی پی ایرانی در حین معاملات باشم؟
                            </button>
                            <div id="collapseThirteen" class="accordion-collapse collapse"
                                 aria-labelledby="headingThirteen" data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq13answer">
                                    <br>
                                    به هیچ وجه.تمامی سرورهای ربات درخارج از کشورفعال بوده و با آی پی معتبر در صرافی
                                    فعالیت
                                    میکند.تنها در صورتی که کاربربه صورت دستی بخواهد واردصرافی شود میبایست مراقب آیپی
                                    لحظه ای
                                    خود باشد
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingFourteen" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFourteen" aria-expanded="false"
                                    aria-controls="collapseFourteen" name="faq14">
                                اگر در کارابات مشکلی پیش آمد از چه طریق میتوانم مشکل را حل کنم؟
                            </button>
                            <div id="collapseFourteen" class="accordion-collapse collapse"
                                 aria-labelledby="headingFourteen" data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq14answer">
                                    <br>
                                    شما میتوانید با گزاشتن تیکت در بخش پشتیبانی مشکل خود را عنوان کنید تا کارشناسان
                                    ما مشکل
                                    شما را برطرف کنند
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingFifteen" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen"
                                    name="faq15">
                                کارابات چه امکانات و قابلیتهایی دارد؟
                            </button>
                            <div id="collapseFifteen" class="accordion-collapse collapse"
                                 aria-labelledby="headingFifteen" data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq15answer">
                                    <br>
                                    گرفتن بک تست و انجام تریدواقعی با استفاده از ابزارهایی ازقبیل تشخیص
                                    واگرایی،الگوها،زمان،قدرت گام،استاپ تریل و ده ها ابزار دیگر
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingSixteen" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen"
                                    name="faq16">
                                درصورت قطع اینترنت ارتباط معاملات من قطع خواهد شد؟
                            </button>
                            <div id="collapseSixteen" class="accordion-collapse collapse"
                                 aria-labelledby="headingSixteen" data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq16answer">
                                    <br>
                                    خیر،ربات دارای سروراختصاصی خود بوده و کار خود را ادامه میدهد تا زمانی که اتصال
                                    شما به
                                    اینترنت مجددوصل شده و دستور جدیدی به ربات بدهید.دراین حین نباید نگران ازدست رفتن
                                    سرمایه
                                    بود چراکه ربات از حدضررهای معتبر و سیستم بودجه بندی استفاده میکنید
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout">
                        <div class="accordion">
                            <button class="accordion-button gradient-button text-white collapsed resource change-direction"
                                    id="headingSeventeen" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeventeen" aria-expanded="false"
                                    aria-controls="collapseSeventeen" name="faq17">
                                آیا بعد از استارت ربات روی حساب صرافی همچنان دسترسی به حساب داریم؟
                            </button>
                            <div id="collapseSeventeen" class="accordion-collapse collapse"
                                 aria-labelledby="headingSeventeen" data-bs-parent="#faqAccordion">
                                <div class="accordion-body resource change-direction" name="faq17answer">
                                    <br>
                                    بله،فعالیت ربات هیچ خللی در دسترسی شما ایجاد نمیکند و میتوانید عملیات های خرید
                                    وفروش
                                    دستی را ادامه دهید.همچنین پوزیشن های فعال ربات را هم میتوانید به صورت دستی
                                    ببندید
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container h-100 position-relative">
            <div class="row">
                <div class="col-md-6 change-direction" style="margin: 0 auto">
                    <div class="row">
                        <div class="col-md-12 d-flex">
                            <div class="mb-4 pt-5" style="margin: 0 auto">
                                <span class="footer-text resource" name="contactUs">ارتباط با ما</span>
                                <span class="footer-line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" id="name" name="name" class="form-control footer-item resource"
                                   placeholder="نام و نام خانوادگی">
                        </div>
                        <div class="col-md-6 email-container">
                            <input type="email" id="email" name="email" class="form-control footer-item resource"
                                   placeholder="ایمیل">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-2">
                            <textarea type="text" id="message" name="message" rows="5" placeholder="پیام"
                                      class="form-control md-textarea footer-item resource"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-2">
                            <button type="submit" class="btn footer-button resource" name="send"
                                    onclick="send()">
                                ارسال
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row position-absolute bottom-0 w-100 copyright">
                <div class="col-md-12 text-center text-white change-direction">
                    <span class="resource" name="copyrightPartTwo">2021&copy; کلیه حقوق متعلق به شرکت</span>
                    <a href="#" target="_blank" rel="noreferrer" class="link resource" name="companyName">آلفا امگا</a>
                    <span class="resource" name="copyrightPartOne"> می باشد. </span>
                    |
                    <span class="resource" name="copyrightNopCommerce">Powered by </span>
                    <a href="https://www.nopcommerce.com" target="_blank" class="link resource">nopCommerce</a>
                </div>
            </div>
        </div>
    </footer>
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div id="messageToast" class="toast text-white hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto header-text"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">

            </div>
        </div>
    </div>
    <script src="~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/js/bootstrap/bootstrap.js"></script>
    <script>
        var request;
        var request2;
        if (window.XMLHttpRequest) {
            request = new XMLHttpRequest();
            request2 = new XMLHttpRequest();
        } else {
            request = new ActiveXObject("Microsoft.XMLHTTP");
            request2 = new ActiveXObject("Microsoft.XMLHTTP");
        }


        let resourcesFa;
        let resourcesEn;
        let currentCulture = window.localStorage.getItem("current-culture") ?? "fa";
        let faBtn = document.getElementById("fa-btn");
        let enBtn = document.getElementById("en-btn");
        if (currentCulture === "fa") {
            enBtn.classList.remove("active-lang");
            faBtn.classList.add("active-lang");
        } else {
            faBtn.classList.remove("active-lang");
            enBtn.classList.add("active-lang");
        }
        request.open('GET', "/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/resources/en.json");
        // request.open('GET', "resources/en.json");
        request.onreadystatechange = function () {
            if (request.readyState === 4 && request.status === 200) {
                resourcesEn = JSON.parse(request.responseText);
                if (currentCulture === "en")
                    ApplyLanguage();
            }
        }

       

        request.send();
        request2.open('GET', "/Plugins/Finitx.Plugin.Widgets.ProductBadges/Views/Home/resources/fa.json");
        // request2.open('GET', "resources/fa.json");
        request2.onreadystatechange = function () {
            if (request2.readyState === 4 && request2.status === 200) {
                resourcesFa = JSON.parse(request2.responseText);
                if (currentCulture === "fa")
                    ApplyLanguage();
            }
        }
        request2.send();
        ApplyLanguage();
        ApplyLanguage();

        faBtn.onclick = () => {
            currentCulture = "fa";
            enBtn.classList.remove("active-lang");
            faBtn.classList.add("active-lang");
            window.localStorage.setItem("current-culture", currentCulture);
            ApplyLanguage();
        }

        enBtn.onclick = () => {
            currentCulture = "en";
            faBtn.classList.remove("active-lang");
            enBtn.classList.add("active-lang");
            window.localStorage.setItem("current-culture", currentCulture);
            ApplyLanguage();
        }

        function ApplyLanguage() {
            let currentResource = currentCulture === "fa" ? resourcesFa : resourcesEn;
            let currentDirection = currentCulture === "fa" ? "rtl" : "ltr";
            if (currentResource) {
                let resourceTags = document.getElementsByClassName("resource");

                let directionTags = document.getElementsByClassName("change-direction");
                for (const index in directionTags) {
                    if (directionTags[index].nodeName === "DIV" || directionTags[index].nodeName === "BUTTON") {
                        directionTags[index].style.direction = currentDirection;
                    }
                }

                for (const indx in resourceTags) {
                    if (!parseInt(indx) && parseInt(indx) !== 0) continue;
                    let key = resourceTags[indx].getAttribute('name');
                    let value = currentResource[key];
                    if (value) {
                        if (resourceTags[indx].nodeName === "DIV" || resourceTags[indx].nodeName === "SPAN"
                            || resourceTags[indx].nodeName === "BUTTON" || resourceTags[indx].nodeName === "A") {
                            resourceTags[indx].innerHTML = value;
                        }
                        else {
                            resourceTags[indx].placeholder = value;
                        }
                    }
                }


            }
        }


        const send = async () => {

            let currentResource = currentCulture === "fa" ? resourcesFa : resourcesEn;
            let myToastElement = document.getElementById('messageToast');
            let toast = bootstrap.Toast.getOrCreateInstance(myToastElement); //inizialize it
            let header, body;
            if (myToastElement) {
                header = myToastElement.getElementsByClassName("header-text")[0];
                body = myToastElement.getElementsByClassName("toast-body")[0];
            }

            const name = document.getElementById("name").value;
            const email = document.getElementById("email").value;
            const message = document.getElementById("message").value;
            if (!name) {
                if (header)
                    header.textContent = currentResource["error"];
                if (body)
                    body.textContent = currentResource["nameRequired"];

                myToastElement.classList.remove("bg-success");
                myToastElement.classList.add("bg-danger");
                toast.show();
                return;
            }
            if (!email) {
                if (header)
                    header.textContent = currentResource["error"];
                if (body)
                    body.textContent = currentResource["emailRequired"];

                myToastElement.classList.remove("bg-success");
                myToastElement.classList.add("bg-danger");
                toast.show();
                return;
            }
            if (!message) {
                if (header)
                    header.textContent = currentResource["error"];
                if (body)
                    body.textContent = currentResource["messageRequired"];

                myToastElement.classList.remove("bg-success");
                myToastElement.classList.add("bg-danger");
                toast.show();
                return;
            }

            const model = {
                "name": name,
                "email": email,
                "messageText": message
            }

            const request = new XMLHttpRequest();
            request.open("POST", "https://auth-hub.dpnaco.com/Karabot/sendMessage", true);
            request.setRequestHeader("Content-type", "application/json");
            request.send(JSON.stringify(model));
            request.onload = () => {
                if (request.status == 200) {
                    if (header)
                        header.textContent = currentResource["message"];
                    if (body)
                        body.textContent = currentResource["successMessage"];

                    myToastElement.classList.remove("bg-danger");
                    myToastElement.classList.add("bg-success");
                    toast.show();
                    document.getElementById("name").value = "";
                    document.getElementById("email").value = "";
                    document.getElementById("message").value = "";
                } else {
                    if (header)
                        header.textContent = currentResource["error"];
                    if (body)
                        body.textContent = currentResource["failedMessage"];

                    myToastElement.classList.remove("bg-success");
                    myToastElement.classList.add("bg-danger");
                    toast.show();
                }
            }
        }
    </script>
</body>

</html>