@model FinitxProductDataModel
@{
    Html.AddCssFileParts("~/Plugins/Finitx.Plugin.Widgets.ProductBadges/Content/styles.css", excludeFromBundle: true);
}
@*<div style="height:250px; width:200px;">


    @if (Model != null && Model.FeaturesList != null && Model.FeaturesList.Count > 0)
    {
        <section>
            <div>               
                <ul class="check-list">
                    @foreach (var item in Model.FeaturesList)
                    {
                        <li>@(item)</li>
                    }
                </ul>
            </div>
        </section>
    }
</div>*@