@model IList<ProductOverviewModel>
@{ var lang = await workContext.GetWorkingLanguageAsync(); }
@if (lang.Rtl)
{

    <style>
        select {
            width: 100%;
        }

        .item-box {
            border: 1px solid #B5B4B4;
            margin: 0px 0px 0px 0px;
            padding: 10px;
            min-height: 550px;
        }

        .product-title a {
            text-align: center;
        }
    </style>

}
else
{

    <style>
        select {
            width: 100%;
        }

        .item-box {
            border: 1px solid #B5B4B4;
            margin: 0px 0px 0px 0px;
            min-height: 550px;
        }

        .product-title a {
            text-align: center;
        }
    </style>

}
@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid" style=" width: 100% !important;">
        @*<div class="title">
                <strong>@T("Homepage.Products")</strong>
            </div>*@
        <div class="item-grid" style="display:flex;align-items:unset;">
            @foreach (var item in Model.OrderBy(x=>x.CustomProperties["Order"]))
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}